<%- include header %>
<form method="post">
  收款方       <input type="text" name="oweto"/><br /> 
  时间   <input type="text" name="time"/><br />
  权重  <input type="text" name="weight"/><br />
  交易金额 <input type="text" name="amount"/><br />
  交易编号 <input type="text" name="pid"/><br />
	<input type="submit" value="提交"/>

</form>
<%- include footer %>
