<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Blog</title>
<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>

<header>
<h1><%= title %></h1>
</header>

<nav>
<span><a title="主页" href="/">主页</a></span>
<span><a title="发账" href="/send">发账</a></span>
<span><a title="收帐" href="/accept">收帐</a></span>
<span><a title="贷款" href="/loan">贷款</a></span>
<span><a title="债务转让" href="/transfer">债务转让</a></span>
</nav>

<article>
